body,html{
    width: 100%;
    height: 100%;
    margin: 0 !important;
    background-color: #303030;
    color: white;
}

#container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: -1px -1px 40px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 40px 3px rgba(0,0,0,0.75);
    box-shadow: -1px -1px 40px 3px rgba(0,0,0,0.75);

}
  
.block{
    background-color: #a36c18;
    width: 300px;
    height: 300px;
    margin: 60px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transition: 0.7s;
}

.block:hover{
    margin: 40px;
    width: 340px;
    height: 340px;
    transition: 0.7s;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 19px 6px 15px 1px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 19px 6px 15px 1px rgba(0,0,0,0);
}